<form novalidate
      #f="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text"
             class="form-control"
             name="name" ngModel>
    </div>

  <div class="form-group">
    <label>Age</label>
    <input type="text"
           class="form-control"
           name="age" ngModel>
  </div>

  <div class="form-group">
    <label>Location
    <input type="text"
           class="form-control"
           name="location" ngModel>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <pre>{{f.value | json}}</pre>
</form>  